.container{
    position : absolute;
    background-color: rgb(2, 137, 255);

    border: solid 20px;
    border-radius: 10px;
    border-color: rgb(0, 119, 255);

    width : 60%;
    height : 60%;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.explain{
    color: white;

    text-align : center;

    height : 20%;
}

.start{
    position: relative;
   
    color: white;
    text-align:  center;

    left : 30%;
    top : 10%;
    width: 20%;
    height : 10%;
}

#startBtn{
    position : relative;

    border : none;
    cursor: pointer;

    left : 60%;
    bottom : 70%;
    width : 25%;
    height: 50%;
}

.count{
    position: relative;
   
    color: white;

    text-align : right;
    left : 80%;
    bottom : 1.7%;

    width: 20%;
    height : 10%;
}

#chance{
    position: relative;

    font-size : 200%;
    top : 15%;
    right : 40%;
}

.field{
    position : relative;
   
    width : 60%;
    height : 30%;
   
    bottom : 15%;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 20%;
}

#input{
    position: relative;

    margin-top :10%;
    width: 70%;
    border-radius: 10px;
    font-size : 320%;
}

#checkBtn{
    position: relative;
    background-color:transparent;
    cursor: pointer;
    border : none;

    margin-left : 80%;
    bottom : 27%;

    width : 10%;
    height: 30%;
}